.project-container {
  display: flex;
  flex-direction: column;
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, rgb(19, 19, 19) 74%);
}
.react-on-rails-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.technology-used {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.title {
  align-self: center;
  padding: 0 90px;
  color: black;
  background-color: #8c94a3;
  font-size: 50px;
  border-radius: 10px;
  cursor: pointer;
}
