.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(19, 19, 19);
}

.home-header {
  display: flex;
  flex-direction: row;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #f3f3fa 0%, rgb(19, 19, 19) 50%);
  justify-content: space-between;
  padding: 2px 10px;
  margin: 25px 5px;
  border-radius: 10px;
}

.MuiSvgIcon-root {
  font-size: 5em;
  cursor: pointer;
}

#welcome {
  margin-bottom: 350px;
  padding-bottom: 50px;
  width: 550px;
  height: 400px;
  align-items: center;
  padding: 60px;
  padding-top: 0px;
  border-radius: 50px;
  font-size: 50px;
  color: #f3f3fa;
}

.typing {
  margin: 5px;
  padding: auto;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, black 0%, #262636 94%);
  color: #f3f3fa;
  border-radius: 20px;
}

.header-container {
  display: flex;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  grid-gap: 70px;
  gap: 12rem;
  align-content: stretch;
  padding-bottom: 50px;
  margin: 20px 50px;
  background-color: #222626;
}

.profilePic {
  border-radius: 10%;
}

#job-title {
  color: #222426;
  padding: 0px 10px;
  background-color: #8c94a3;
  border-radius: 10px;
}
#software-developer {
  font-size: 65px;
  font-weight: bold;
  background-color: #262636;
  background-image: linear-gradient(315deg, black 0%, #262636 14%);
  padding: 10px;
}

.div-skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #0c0b0b 0%, #1e1f1f 74%);
  margin: 10px 90px;
  padding: 0px 10px;
  font-size: 30px;
  border-radius: 50px;
  color: #46c8f5;
}

#skills {
  font-size: 70px;
  text-align: center;
  color: #f0f0f0;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #0c0b0b 0%, #1e1f1f 74%);
  margin: 9px 35%;
  padding: 10px;
}
.skills-container {
  margin: 30px 0;
  padding: 10px 40px;
}

.aboutMe {
  font-size: 27px;
  background-color: #222626;
  color: white;
  padding: 30px;
  width: 55%;
  text-align: center;
  align-self: center;
  margin: 20px auto;
  border-radius: 20px;
}
.about {
  line-height: 1.6;
}

#important {
  font-size: 30px;
  color: #46c8f5;
  font-weight: bolder;
}

.certification {
  text-align: center;
}

@media (max-width: 765px) {
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .div-skills {
    display: flex;
    flex-direction: column;
  }
  .home-header {
    background-color: rgb(173, 181, 189);
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  #welcome {
    /* margin: 0 auto; */
    font-size: 35px;
    width: 60%;
    margin: 10px auto;
  }
  .typing {
    width: 60%;

  }
  #software-developer {
    font-size: 40px;
    font-weight: bold;
    background-color: #262636;
    background-image: linear-gradient(315deg, black 0%, #262636 14%);
    padding: 5px;
    margin: 5px;
  }
  .profilePic {
    width: 90%;
    padding-top: 30px;
  }
}

@media (max-width: 1200px) {
  .header-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .div-skills {
    display: flex;
    flex-direction: column;
  }

  .certification {
    display: none;
  }
  .profilePic {
    padding-top: 50px;
    /* padding: 10px auto; */
    /* display: none; */
  }
  #welcome {
    margin: 10px auto;
  }
  .about {
    line-height: 1.6;
  }
}

@media (max-width: 420px) {
  #welcome {
    font-size: 15px;
    margin: 10px auto;
    padding-bottom: 0px;
    margin-top: 10px;
    line-height: 1.6em;
  }
  #software-developer {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 35px auto;
  }
  .header-container {
    height: 500px;
  }
  .about {
    font-size: 10px;
  }

  #important {
    font-size: 15px;
    color: #46c8f5;
    font-weight: bolder;
  }

  .profilePic {
    padding-top: 80px;
    height:20em
  }
  #skills {
  font-size: 50px;
  text-align: center;
  color: #f0f0f0;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #0c0b0b 0%, #1e1f1f 74%);
  margin: 9px auto;
  padding: 10px;
}

.div-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #0c0b0b 0%, #1e1f1f 74%);
  /* margin: 10px 90px; */
  padding: 0px 10px;
  font-size: 30px;
  border-radius: 50px;
  color: #46c8f5;
}
}
